<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28041757619-72s45am9tdj4j4lndl85ke69c6j40irc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28041757619-72s45am9tdj4j4lndl85ke69c6j40irc</string>
	<key>API_KEY</key>
	<string>AIzaSyCCbmH98jNlAWXWYpZoFDn2-FDuEbvsqqc</string>
	<key>GCM_SENDER_ID</key>
	<string>28041757619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chackProject</string>
	<key>PROJECT_ID</key>
	<string>chack-ace76</string>
	<key>STORAGE_BUCKET</key>
	<string>chack-ace76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28041757619:ios:0c78749dab444f097141c6</string>
</dict>
</plist>